@import "base.scss";

.markdown-body {

// 统一处理段落块之间的空白
p, pre, ul, ol, dl, form {
  margin: $bear-block-mg-v 0 $bear-block-mg-v * 0.6;
}

hr {
  margin: $bear-block-mg-v auto;
}

ul ul,ul ol,ol ul,ol ol {
  margin-bottom: 0px;
}
// margin end

h1, h2, h3, h4, h5, h6 {
  margin-top: 2 * $bear-block-mg-v;
  margin-bottom: $bear-block-mg-v;
  font-family: $title-font-family;
  font-weight: $title-font-weight;
  line-height: 1.5em;
  color: $head-color;
}

hr {
  height: 1px;
  border: 0;
  background-color: $border-color;
}

ul, ol {
  list-style: none;
  padding: 0;
}

ul li {
  position: relative;
}

ul li:before {
  content: "•";
  color: $primary-color;
  position: absolute;
  left: -1em;
}

ul ul {
  margin-left: 1.25em;
}

ol {
  counter-reset: ol_counter;
}

ol li {
  position: relative;
}

ol li:before {
  content: counter(ol_counter) ".";
  counter-increment: ol_counter;
  color: $primary-color;
  text-align: right;
  min-width: 1em;
  position: absolute;
  left: -1.5em;
}

ol ol {
  margin-left: 1.3em;
}

.task-list-item {
  text-indent: -1.75em;
  
  &:before {
    content: "";
    display: static;
    margin-right: 0px;
  }

  > input[type=checkbox] {
    text-indent: -1.7em;
  }
}

u {
  text-decoration: none;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0) 50%,$primary-color 50%);
  background-repeat: repeat-x;
  background-size: 2px 2px;
  background-position: 0 1em;
}

a:hover,
a:focus,
a:active {
  text-decoration: underline;
}

blockquote {
  display: block;
  margin-left: -1em;
  padding-left: 0.8em;
  border-left: 0.2em solid $primary-color;
}

code {
  display: inline;
  border: solid 1px $border-color;
  padding: 0.2em 0.5em;
  font-size: 0.9em;
  color: $code-font-color;
  background-color: $code-bg-color;
}

pre {
  padding: 0;
  border: 0;
}

pre > code {
  display: block;
  border: solid 1px $border-color;
  padding: 0.7em 1em;
  font-size: 0.9em;
  overflow-x: auto
}

mark {
  color: inherit;
  display: inline;
  padding: 0.2em 0.5em;
  background-color: $mark-bg-color;
}

figcaption {
  text-align: center;
}

table {
  border: 1px;
  border-spacing: 0;
}

table th,
table td {
  padding: 0.7em 1em;
  font-size: 0.9em;
  border: 1px solid $border-color;
}

caption,th,td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle
}

.footnotes > ol li {
  text-indent: 0;
}

.footnotes > ol li::before {
  float: left;
}

}