/**
 * Bear 的默认样式表。通过调整各个颜色变量的取值，就可以得到不同的 bear 主题。
 */

@import "prism.scss"; // 导入 prism 的样式代码，其配色方案需要通过变量文件引入

html {
  font-family: $font-family;
  font-size: $font-size;
  color: $font-color;
}

body {
  background-color: $body-bg-color;
  line-height: $line-height;
  -webkit-text-size-adjust: 100%;
  max-width: $md-body-max-width;
  margin: $md-body-mg-v $md-body-mg-h;
  padding: $md-body-pd-v $md-body-pd-h;
}

// 这里目前只支持 mweb
.markdown-body {

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

> *:first-child {
  margin-top: 0 !important;
}

> *:last-child {
  margin-top: 0 !important;
}

// spacing

p, pre, ul, ol, dl, form, details, dl, blockquote, table, xmp, plaintext, listing, figure,
pre[class*="language-"] {
  margin: $block-mg-v 0 $block-mg-v * 0.6;
}

hr {
  margin: $block-mg-v auto;
}

ul ul,ul ol,ol ul,ol ol {
  margin-bottom: 0px;
}

// block

h1, h2, h3, h4, h5, h6 {
  margin-top: 2 * $block-mg-v;
  margin-bottom: $block-mg-v;
  margin-left: 0;
  margin-right: 0;
  font-family: $title-font-family;
  font-weight: $title-font-weight;
  line-height: 1.5em;
  color: $head-color;
}

h1 {
  font-size: $h1-font-size;
}

h2 {
  font-size: $h2-font-size;
}

h3 {
  font-size: $h3-font-size;
}

h4 {
  font-size: $h4-font-size;
}

h5 {
  font-size: $h5-font-size;
}

h6 {
  font-size: $h6-font-size;
}

hr {
  height: 1px;
  border: 0;
  background-color: $border-color;
  border-style: $hr-bd-style;
  border-width: $hr-bd-width;
}

p {
  margin-left: 0;
  margin-right: 0;
}

pre, pre[class*="language-"] {
  padding: 0;
  border: 0;
}

blockquote {
  display: block;
  // margin-left: -1em;
  padding-left: 0.8em;
  border-left: 0.2em solid $primary-color;
  
  >:first-child {
    margin-top: 0;
  }
  
  >:last-child {
    margin-bottom: 0;
  }
}


// list

li {
  word-wrap: break-all;
}

ul, ol {
  list-style: none;
}

ul {
  margin-left: 1.3em;
  padding: 0;
}

ol {
  margin-left: 1.3em;
  padding: 0;
  counter-reset: ol_counter;
}

// list marker

ul li {
  position: relative;

  &:before {
    content: "•";
    color: $primary-color;
    position: absolute;
    left: -1.1em; // 这个数值刚好令 marker 与上一行第一个字对齐
  }
}

ol li {
  position: relative;

  &:before {
    content: counter(ol_counter) ".";
    counter-increment: ol_counter;
    color: $primary-color;
    text-align: right;
    min-width: 1em;
    position: absolute;
    left: -1.5em; // 这个数值刚好令 marker 与上一行第一个字对齐
  }
}

// list spacing

li+li {
  margin-top: $li-mg-t;
}

ul ul, ol ul, ul ol, ol ol, li ul, li ol {
  margin-top: $li-mg-t;
  margin-left: 2em;
}

// task list

.task-list-item {
  list-style-type: none;
  text-indent: -1.5em; // 这个数值刚好令 checkbox 与上一行第一个字对齐
  
  &:before {
    content: "";
    display: static;
    margin-right: 0px;
  }

  > input[type=checkbox] {
    text-indent: -1.7em;
  }
}

// inline

img {
  max-width: 100%;
  height: auto
}

u {
  text-decoration: none;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0) 50%,$primary-color 50%);
  background-repeat: repeat-x;
  background-size: 2px 2px;
  background-position: 0 1em;
}

a {
  color: $link-color;
  text-decoration: $link-decoration;

  &:hover,
  &:focus,
  &:active {
    text-decoration: underline;
  }

  img {
    border: none
  }
}

b, strong {
  font-weight: $bold-font-weight;
}

i, cite, em, var, address, dfn {
  font-style: $italic-font-style;
}

del, s {
  color: $del-font-color;
}

pre, xmp, plaintext, listing, code, kbd, tt, samp {
  font-family: $code-font-family;
}

code {
  display: inline;
  border: solid 1px $border-color;
  padding: 0.2em 0.5em;
  font-size: 0.9em;
  color: $code-font-color;
  background-color: $code-bg-color;
}

pre > code {
  display: block;
  border: solid 1px $border-color;
  padding: 0.7em 1em;
  font-size: 0.9em;
  overflow-x: auto
}

mark {
  color: inherit;
  display: inline;
  padding: 0.2em 0.5em;
  background-color: $mark-bg-color;
}

figcaption {
  text-align: center;
}

// table

table {
  color: $table-font-color;
  border-collapse: collapse;
  background-color: $table-bg-color;
  border-spacing: $table-border-spacing;
  font-size: $table-font-size;
  border: 1px;
  border-spacing: 0;
}

th, td {
  padding: 0.7em 1em;
  font-size: 0.9em;
  border: 1px solid $border-color;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle
}

// other

.footnotes > ol li {
  text-indent: 0;
}

.footnotes > ol li::before {
  float: left;
}

}