@import "default.scss";

$body-bg-color: rgba(46, 50, 53, 1.00);
$font-color: rgba(166, 166, 166, 1.00);
$del-font-color: rgba(122, 122, 122, 1.00);
$head-color: rgba(172, 172, 172, 1.00);
$link-color: rgba(171, 196, 207, 1.00);
$primary-color: rgba(155, 183, 196, 1.00);
$mark-bg-color: rgba(7, 16, 25, 1.00);
$code-bg-color: rgba(47, 51, 55, 1.00);
$border-color: rgba(62, 67, 72, 1.00);
$code-font-color: rgba(153, 153, 153, 1.00);
$prism-color-keyword: rgba(72, 131, 185, 1.00);
$prism-color-comment: rgba(128, 128, 128, 1.00);
$prism-color-selector: rgba(199, 198, 122, 1.00);
$prism-color-number: rgba(72, 131, 185, 1.00);
$prism-color-char: rgba(173, 102, 204, 1.00);
$prism-color-attr-name: rgba(173, 102, 204, 1.00);

@import "override.scss";