@import "default.scss";

$body-bg-color: rgba(30, 32, 34, 1.0);
$font-color: rgba(221, 221, 221, 1.0);
$del-font-color: rgba(111, 115, 115, 1.0);
$head-color: rgba(203, 219, 229, 1.00);
$primary-color: rgba(74, 168, 251, 1.00);
$mark-bg-color: rgba(38, 60, 146, 1.00);
$code-bg-color: rgba(36, 36, 36, 1.00);
$border-color: rgba(87, 87, 87, 1.00);
$code-font-color: rgba(255, 254, 255, 1.00);
$link-color: rgba(107, 202, 251, 1.00);
$prism-color-keyword: rgba(174, 237, 218, 1.00);
$prism-color-comment: rgba(127, 140, 151, 1.0);
$prism-color-selector: rgba(230, 119, 47, 1.00);
$prism-color-number: rgba(170, 201, 127, 1.0);
$prism-color-char: rgba(255, 157, 209, 1.00);
$prism-color-attr-name: rgba(253, 130, 115, 1.0);

@import "override.scss";