$primary-color: #353535; // Accent Text Color
$font-color: #222222; // Base Text Color
$del-font-color: #525252; // Light Text Color
$head-color: #262626; // Title Text Color
$link-color: #2478c5; // Link Text Color
$code-font-color: #424242; // Code Font Color

$body-bg-color: white; // Background Text Color
$mark-bg-color: #fcffc0; // Highlighter Background Color
$code-bg-color: white; // Code Background Color

$border-color: #bfbfbf; // Code Stroke Color, Separator Text Color

$prism-color-punctuation: #999;
$prism-color-keyword: #2478c5;
$prism-color-comment: #575757;
$prism-color-number: #0b5d83;
$prism-color-char: #690;
$prism-color-attr-name: #950980;
$prism-color-selector: #b43d15;
$prism-color-property: #905;
$prism-color-operator: #920448;
$prism-color-function: #0E73A2;
$prism-color-variable: #0E73A2; // TODO: 这里的命名可能要换一下，比如 prism => code-block