@import "default.scss";

$body-bg-color: rgba(0, 0, 0, 1.0);
$font-color: rgba(212, 212, 212, 1.00);
$del-font-color: rgba(146, 147, 146, 1.00);
$head-color: rgba(252, 206, 35, 1.00);
$link-color: rgba(227, 146, 9, 1.00);
$primary-color: rgba(242, 148, 41, 1.00);
$mark-bg-color: rgba(16, 68, 3, 1.00);
$code-bg-color: rgba(16, 16, 16, 1.00);
$border-color: rgba(29, 29, 29, 1.00);
$code-font-color: rgba(229, 227, 229, 1.00);
$prism-color-keyword: rgba(227, 142, 19, 1.00);
$prism-color-comment: rgba(163, 166, 169, 1.00);
$prism-color-selector: rgba(228, 137, 82, 1.00);
$prism-color-number: rgba(203, 67, 67, 1.00);
$prism-color-char: rgba(84, 125, 228, 1.00);
$prism-color-attr-name: rgba(169, 53, 184, 1.00);

@import "override.scss";