@import "default.scss";

$mermaid-theme: dark;
$body-bg-color: rgba(47, 52, 64, 1.00);
$font-color: rgba(237, 238, 243, 1.00);
$del-font-color: rgba(160, 163, 171, 1.00);
$head-color: rgba(217, 221, 231, 1.00);
$link-color: rgba(167, 189, 144, 1.00);
$primary-color: rgba(144, 185, 201, 1.00);
$mark-bg-color: rgba(155, 98, 100, 1.00);
$code-bg-color: rgba(54, 57, 69, 1.00);
$border-color: rgba(99, 110, 132, 1.00);
$code-font-color: rgba(237, 238, 243, 1.00);
$prism-color-keyword: rgba(148, 190, 206, 1.00);
$prism-color-comment: rgba(169, 179, 210, 1.00);
$prism-color-selector: rgba(227, 158, 134, 1.00);
$prism-color-number: rgba(167, 189, 144, 1.00);
$prism-color-char: rgba(232, 190, 228, 1.00);
$prism-color-attr-name: rgba(216, 161, 137, 1.00);

@import "override.scss";