@import "default.scss";
@import "bear-default.scss";

$body-bg-color: rgba(250, 250, 250, 1.00);
$font-color: rgba(107, 104, 132, 1.00);
$del-font-color: rgba(141, 143, 149, 1.00);
$head-color: rgba(77, 82, 85, 1.00);
$link-color: rgba(230, 103, 0, 1.00);
$primary-color: rgba(255, 106, 0, 1.00);
$mark-bg-color: rgba(230, 249, 189, 1.00);
$code-bg-color: rgba(255, 255, 255, 1.00);
$border-color: rgba(191, 193, 196, 1.00);
$code-font-color: rgba(39, 45, 56, 1.00);
$prism-color-keyword: rgba(37, 118, 177, 1.00);
$prism-color-comment: rgba(127, 126, 125, 1.00);
$prism-color-selector: rgba(53, 127, 30, 1.00);
$prism-color-number: rgba(0, 135, 178, 1.00);
$prism-color-char: rgba(38, 40, 216, 1.00);
$prism-color-attr-name: rgba(186, 43, 163, 1.00);

$table-font-color: $code-font-color;
$table-bg-color: $code-bg-color;

