
// spacing
$pre-mg-v: $block-mg-v;
$blockquote-mg-v: $block-mg-v;

// color
$table-font-color: $code-font-color;
$table-bg-color: $code-bg-color;
$prism-color: $font-color;
$prism-color-bg: $code-bg-color;
$prism-color-function: $prism-color-keyword;
$prism-color-char: $prism-color-selector;
$prism-color-attr-name: $prism-color-selector;