/*
 * Default bear theme，适用于 core/mweb-bear.scss。
 * 所有 bear 主题，只需 import 这个文件，然后修改配色方案即可。
 */

/* font */
$font-family: AvenirNext-Regular, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
$title-font-family: AvenirNext-Medium; // Title Font 
$code-font-family: Menlo-Regular, Menlo, Monaco, Consolas, 'Courier New', monospace;

$font-size: 16px; // Base Text Size
$line-height: 1.6em; // Line Height Multiplier
$h1-font-size: 1.5em; // H1 Font Size Multiplier
$h2-font-size: 1.3em; // H2 Font Size Multiplier
$h3-font-size: 1.1em; // H3 Font Size Multiplier
$h4-font-size: 1em;
$h5-font-size: 1em;
$h6-font-size: 1em;
$table-font-size: 1em;

$title-font-weight: 500;
$bold-font-weight: bold;
$italic-font-style: italic;
$h1-font-weight: bold;
$h2-font-weight: bold;
$h3-font-weight: bold;
$h4-font-weight: bold;
$h5-font-weight: bold;
$h6-font-weight: bold;

$line-height: 1.6em;
$prism-line-height: 1.5rem;

/* container */
$md-body-max-width: 46rem;
$md-body-mg-h: auto;
$md-body-mg-v: 0px;
$md-body-pd-h: 3.2em;
$md-body-pd-v: 1.6em;

/*  spacing */
$block-mg-v: 0.75em; // for vertical margin of block elements
$blockquote-mg-h: 0;
$li-mg-t: .25em;

/* color */

$primary-color: #353535; // Accent Text Color
$font-color: #222222; // Base Text Color
$del-font-color: #525252; // Light Text Color
$head-color: #262626; // Title Text Color
$link-color: #2478c5; // Link Text Color
$code-font-color: #424242; // Code Font Color

$body-bg-color: white; // Background Text Color
$mark-bg-color: #fcffc0; // Highlighter Background Color
$code-bg-color: white; // Code Background Color

$border-color: #bfbfbf; // Code Stroke Color, Separator Text Color

$prism-color-keyword: #2478c5; // Syntax Keyword
$prism-color-comment: #575757; // Syntax Comment
$prism-color-number: #0b5d83; // Syntax Number
$prism-color-char: #1b00ce; // Syntax Character
$prism-color-attr-name: #950980; // Syntax Attribute
$prism-color-selector: #b43d15; // Syntax String
$prism-color-property: #1B00CE;
$prism-color-operator: #920448;
$prism-color-function: #0E73A2;
$prism-color-variable: #0E73A2;

/* other */
$link-decoration: none;

$table-border-spacing: 2px;

$hr-bd-style: inset;
$hr-bd-width: 1px;