@import "default.scss";
@import "bear-default.scss";

$body-bg-color: rgba(20, 39, 56, 1.00);
$font-color: rgba(219, 240, 239, 1.00);
$del-font-color: rgba(172, 191, 195, 1.00);
$head-color: rgba(211, 200, 69, 1.00);
$link-color: rgba(54, 201, 155, 1.00);
$primary-color: rgba(252, 133, 30, 1.00);
$mark-bg-color: rgba(61, 0, 77, 1.00);
$code-bg-color: rgba(21, 45, 62, 1.00);
$border-color: rgba(16, 36, 50, 1.00);
$code-font-color: rgba(225, 239, 243, 1.0);
$prism-color-keyword: rgba(242, 221, 0, 1.0);
$prism-color-comment: rgba(0, 136, 255, 1.0);
$prism-color-selector: rgba(58, 217, 0, 1.0);
$prism-color-number: rgba(237, 240, 128, 1.0);
$prism-color-char: rgba(58, 217, 0, 1.0);
$prism-color-attr-name: rgba(130, 198, 117, 1.0);

$table-font-color: $code-font-color;
$table-bg-color: $code-bg-color;
$prism-color-function: $prism-color-keyword;
