@import "default.scss";
@import "bear-default.scss";

$primary-color: #2478c5;
$body-bg-color: #F9F9F9;
$link-color: $primary-color;
$mark-bg-color: #d3ffa4;

$prism-color: $code-font-color;
$prism-color-function: $prism-color-keyword;
$table-font-color: $code-font-color;
$table-bg-color: $code-bg-color;