@import "default.scss";
@import "bear-default.scss";

$body-bg-color: rgba(251, 250, 252, 1.00);
$font-color: rgba(0, 0, 0, 1.00);
$del-font-color: rgba(128, 126, 128, 1.00);
$head-color: rgba(0, 0, 0, 1.00);
$link-color: rgba(80, 112, 139, 1.00);
$primary-color: rgba(127, 127, 127, 1.00);
$mark-bg-color: rgba(254, 255, 83, 1.00);
$code-bg-color: rgba(253, 253, 253, 1.00);
$border-color: rgba(199, 199, 199, 1.00);
$code-font-color: rgba(38, 37, 38, 1.00);
$prism-color-keyword: rgba(170, 63, 149, 1.00);
$prism-color-comment: rgba(135, 139, 136, 1.00);
$prism-color-selector: rgba(233, 88, 0, 1.00);
$prism-color-number: rgba(0, 147, 5, 1.00);
$prism-color-char: rgba(135, 160, 224, 1.00);
$prism-color-attr-name: rgba(168, 173, 191, 1.0);

@import "bear-override.scss";