@import "default.scss";
@import "bear-default.scss";

$body-bg-color: rgba(251, 250, 249, 1.0);
$font-color: rgba(101, 96, 101, 1.00);
$del-font-color: rgba(146, 142, 147, 1.00);
$head-color: rgba(138, 74, 169, 1.00);
$link-color: rgba(183, 71, 175, 1.00);
$primary-color: rgba(202, 124, 208, 1.0);
$mark-bg-color: rgba(242, 193, 209, 1.00);
$code-bg-color: rgba(255, 253, 253, 1.00);
$border-color: rgba(211, 197, 211, 1.00);
$code-font-color: rgba(89, 84, 89, 1.00);
$prism-color-keyword: rgba(143, 88, 154, 1.00);
$prism-color-comment: rgba(146, 142, 147, 1.00);
$prism-color-selector: rgba(173, 67, 91, 1.00);
$prism-color-number: rgba(73, 163, 103, 1.00);
$prism-color-char: rgba(115, 144, 201, 1.0);
$prism-color-attr-name: rgba(120, 43, 135, 1.00);


$table-font-color: $code-font-color;
$table-bg-color: $code-bg-color;
$prism-color-function: $prism-color-keyword;
