@import "default.scss";
@import "bear-default.scss";

$body-bg-color: rgba(17, 21, 28, 1.00);
$font-color: rgba(106, 169, 185, 1.00);
$del-font-color: rgba(89, 156, 171, 0.70);
$head-color: rgba(46, 184, 140, 1.00);
$link-color: rgba(242, 130, 90, 1.00);
$primary-color: rgba(42, 168, 137, 1.00);
$mark-bg-color: rgba(43, 56, 79, 1.00);
$code-bg-color: rgba(10, 23, 34, 1.00);
$border-color: rgba(18, 42, 63, 1.00);
$code-font-color: rgba(89, 156, 171, 1.00);
$prism-color-keyword: rgba(160, 162, 182, 1.00);
$prism-color-comment: rgba(109, 171, 186, 1.00);
$prism-color-selector: rgba(238, 139, 104, 1.00);
$prism-color-number: rgba(118, 118, 193, 1.00);
$prism-color-char: rgba(231, 166, 52, 1.00);
$prism-color-attr-name: rgba(87, 184, 229, 1.00);

@import "bear-override.scss";