@import "bear-default.scss";

$body-bg-color: rgba(251, 250, 240, 1.00);
$font-color: rgba(66, 63, 55, 1.00);
$del-font-color: rgba(126, 150, 143, 1.00);
$head-color: rgba(43, 100, 81, 1.00);
$link-color: rgba(33, 95, 79, 1.00);
$primary-color: rgba(149, 175, 163, 1.00);
$mark-bg-color: rgba(249, 220, 175, 1.00);
$code-bg-color: rgba(254, 254, 248, 1.00);
$border-color: rgba(221, 219, 214, 1.00);
$code-font-color: rgba(89, 88, 82, 1.00);
$prism-color-keyword: rgba(169, 100, 152, 1.00);
$prism-color-comment: rgba(135, 139, 136, 1.00);
$prism-color-selector: rgba(208, 109, 31, 1.00);
$prism-color-number: rgba(51, 127, 0, 1.00);
$prism-color-char: rgba(115, 144, 201, 1.0);
$prism-color-attr-name: rgba(168, 173, 191, 1.0);

@import "bear-override.scss";