@import "default.scss";

$font-family: AvenirNext-Regular, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;

$md-body-max-width: 40em;
$md-body-pd-h: 3.2em;
$md-body-pd-v: 1.6em;

$primary-color: #e06e73;
$del-font-color: #878787;
$head-color: #333;
$border-color: #dedede;
$body-bg-color: #fcfcfc;
$font-color: #545454;
$link-color: #de4c4f;
$mark-bg-color: #fcffc0;
$table-bg-color: white;
$code-bg-color: white;

$font-size: 14px;

$link-decoration: none;

$prism-color: $font-color;
$prism-color-bg: #f5f2f0;
$prism-color-comment: #838383;
$prism-color-number: #0E73A2;
$prism-color-property: #1B00CE;
$prism-color-selector: #D33905;
$prism-color-operator: #920448;
$prism-color-keyword: #0E73A2;
$prism-color-function: #0E73A2;
$prism-color-variable: #0E73A2;
