@import "default.scss";
@import "bear-default.scss";

$body-bg-color: rgba(253, 246, 227, 1.00);
$font-color: rgba(50, 62, 69, 1.00);
$del-font-color: rgba(113, 127, 125, 1.00);
$head-color: rgba(59, 79, 84, 1.00);
$link-color: rgba(172, 117, 20, 1.00);
$primary-color: rgba(165, 104, 18, 1.00);
$mark-bg-color: rgba(202, 255, 147, 1.00);
$code-bg-color: rgba(252, 244, 220, 1.00);
$border-color: rgba(147, 161, 161, 0.5);
$code-font-color: rgba(101, 123, 131, 1.00);
$prism-color-keyword: rgba(16, 130, 183, 1.00);
$prism-color-comment: rgba(131, 131, 131, 1.00);
$prism-color-selector: rgba(211, 57, 5, 1.00);
$prism-color-number: rgba(16, 127, 178, 1.00);
$prism-color-char: rgba(27, 0, 206, 1.00);
$prism-color-attr-name: rgba(207, 12, 178, 1.00);

@import "bear_override.scss";