<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Markdown themes gallery</title>
    <link rel="stylesheet" href="https://unpkg.com/bytemd/dist/index.min.css" />
    <script src="https://unpkg.com/bytemd"></script>
    <script src="https://unpkg.com/@bytemd/plugin-gfm"></script>
    <script src="https://unpkg.com/@bytemd/plugin-frontmatter"></script>
    <script src="https://unpkg.com/@bytemd/plugin-footnotes"></script>
    <script src="js/themes.js"></script>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-AMS-MML_HTMLorMML"
    ></script>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({TeX: { equationNumbers: { autoNumber: "AMS" } }});
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.2.7/raphael.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.0/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-sequence-diagrams/1.0.6/sequence-diagram-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowchart/1.11.0/flowchart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.14.0/prism.min.js" integrity="sha512-YScZbKSzJK2t4zIDDNEizhCkNZqz02EaJDlt2uwNRJoCuihptPgOkucyEji0bPCJwaICFTOKtrZ0efS+oWj/Ug==" crossorigin="anonymous"></script>
    <style>
      #app {
        margin: 0 auto;
        max-width: 1400px;
      }
      .bytemd {
        height: calc(100vh - 40px);
      }
    </style>
  </head>
  <body>
    <div id="app"></div>
    <script>
      const lightThemes = Object.entries(themes)
        .filter(([k, v]) => v.mode !== 'dark')
        .map(([k, v]) => k)
      const darkThemes = Object.entries(themes)
        .filter(([k, v]) => v.mode === 'dark')
        .map(([k, v]) => k)

      const md = decodeURI("<%= data %>")
        .replace(
          '# <insert all themes here> ',
          `# 浅色主题: ${lightThemes.join(', ')}\n# 深色主题: ${darkThemes.join(', ')}`
        );

      const plugins = [
        bytemdPluginGfm(),
        bytemdPluginFrontmatter(),
        bytemdPluginFootnotes(),
        {
          viewerEffect({ file }) {
            try {
              const $style = document.createElement('style');
              $style.innerHTML =
                themes[file.frontmatter["当前主题"]]?.style ?? themes.default.style;
              document.head.appendChild($style);
              Prism.highlightAll()
              return () => {
                $style.remove();
              };
            } catch (_) {}
          },
        },
      ];

      const editor = new bytemd.Editor({
        target: document.querySelector('#app'),
        props: {
          value: md,
          plugins,
        },
      });

      editor.$on('change', (e) => {
        editor.$set({ value: e.detail.value });
      });
    </script>

    <% if (watching) { %>
    <script src="/socket.io/socket.io.js"></script>
    <script defer>
      io('ws://localhost:3001').on('reload', () => {
        window.location.reload();
      });
    </script>
    <% } %>
  </body>
</html>
