<!-- 预览 mweb 主题的模板文件 -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Markdown 语法和 MWeb 使用说明</title>
    <link rel="stylesheet" href="mweb.css">
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-AMS-MML_HTMLorMML"
    ></script>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({TeX: { equationNumbers: { autoNumber: "AMS" } }});
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.2.7/raphael.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.0/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-sequence-diagrams/1.0.6/sequence-diagram-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowchart/1.11.0/flowchart.min.js"></script>
    <script src="js/index.js"></script>
    <script src="js/prism.js"></script> 
    <script src="/socket.io/socket.io.js"></script>
    <script defer>
      io('ws://localhost:3000').on('reload', () => {
        window.location.reload();
      });
    </script>
    <style>
      @media print {
        code[class*="language-"],
        pre[class*="language-"] {
          overflow: visible;
          word-wrap: break-word !important;
        }
      }
    </style>
  </head>
  <body>
    <div id="markdown-body-wrap" class="markdown-body">
      <%-data%>
    </div>
  </body>
</html>
